.container {
    margin-left: 25%;
}

.containerName {
    float: left;
}

.inputs {
    margin-top: 15px;
}

.inputs label {
    position: absolute;
}

.inputs input {
    margin-left: 65px;
}

.button {
    margin-left: 100px;
    margin-top: 30px;
}

.clearfix{
    clear:both
}